@media screen and (min-width: 361px) and (max-width: 430px){

    .container-rightbar{

        width: 100%;
        height: 120vh;
        display: flex;
        flex-direction: column;
    
        .layoutRightbar{
            flex-basis: 100%;
    
        }
    
        .navRightbar{
            flex-basis: 15%;
            
            ul{
                padding: 0 10px;
                display: flex;
                li{
                    margin: 20px 5px 20px 10px;
                    
                    a{
                        color:  $black-color;   
                    }
                }
            }
        }
        .bannerRightbar{
            flex-basis: 40%;
    
            .heroRightbar{
    
                width: 80%;
                height: 17vh;
                border-radius: 12px;
                margin: 20px auto;
                background-color: $blue-color;
    
                text-align: center;
                padding-top: 30px;
                color: $white-color;
                line-height: 30px;
    
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    
        .tittleRightbar{
            flex-basis: 10%;
            font-size: 0.6em;
            padding: 20px;
        }
        .contentInstructor::-webkit-scrollbar{
            display: none;
        }
    
        .contentInstructor:hover {
            ::-webkit-scrollbar{
                display: block;
            }
        }
        .contentInstructor{
            overflow-y: auto;
    
            
    
            .cardInstructor{
                width: 80%;
                min-height: 15vh;
                margin: 20px auto;
                display: flex;
    
                .detailInstructor{
                    flex-basis: 100%;
    
                    p{
                        padding: 15px 5px 10px 10px;
                        font-size: 15px;
                        line-height: 12px;
                    }
                    span{
                        font-size: 12px;
                    }
                }
    
                .photoInstructor{
                    flex-basis: 40%;
    
                    background-image: url("../../../../assets/img/avatar.png");
                    background-size: cover;
                }
            }
        }
    
    }
}